
.nav-wrapper {
    background-color: #ffea00 !important;

  }

  @media (min-width: 500px) { /* si desea, cambiar tamaño de la pantalla en esta línea */
    nav {
        height: 120px !important;            /* Cambia el valor de lo que quieres */
        line-height: 45px !important;       /* Cambia el valor de lo que quieres */
    }
}

.brand-logo{
    height: 169px;
    width:225px ;   
    margin-top: -1%;
}

.waves-effect {
    color: black;
}

.num{ color:white;}

.waves-effect{ color:white;}

.name-card-pok{
    z-index: 100;
}


#cardgeneral{
    border-radius:5%;
}

/* aqui se oculta la segunda pagina */
/* #information{
    display: none;
} */

